.skill-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
}

.skill-icons img {
    filter: grayscale(20%);
    transition: transform 0.2s, filter 0.2s;
    cursor: pointer;
}

.skill-icons img:hover {
    transform: scale(1.2);
    filter: grayscale(0%);

}

.cards-section {
    text-align: center;
    padding: 50px 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    flex: 1 1 250px;
    max-width: 300px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    color: #333;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Hover Effect */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

/* Soft Background Colors */
.card-education { background-color: #ffe6f0; }   /* soft pink */
.card-experience { background-color: #e6fff0; }  /* soft green */
.card-skills { background-color: #e6f0ff; }      /* soft blue */
.card-focus { background-color: #f0e6ff; }       /* soft purple */
